
report.md
target/surefire-reports/SummaryCreatorTest.txt
target/surefire-reports/TEST-SummaryCreatorTest.xml
target/surefire-reports/TEST-WebCrawlerTest.xml
target/surefire-reports/TEST-WebPageTest.xml
target/surefire-reports/WebCrawlerTest.txt
target/surefire-reports/WebPageTest.txt
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/old/WebCrawler-1.0-shaded.jar
/target/surefire-reports/WebCrawlerTest-MastaSurface.txt
/dependency-reduced-pom.xml
/target/lib/apiguardian-api-1.1.2.jar
/target/lib/json-20230227.jar
/target/lib/jsoup-1.15.4.jar
/target/lib/junit-jupiter-api-5.9.1.jar
/target/lib/junit-jupiter-engine-5.9.1.jar
/target/lib/junit-jupiter-params-5.9.1.jar
/target/lib/junit-platform-commons-1.9.1.jar
/target/lib/junit-platform-engine-1.9.1.jar
/target/lib/opentest4j-1.2.0.jar
/old/original-WebCrawler-1.0.jar
/target/original-WebCrawler-1.0.jar
/target/surefire-reports/TEST-TranslatorTest.xml
/target/surefire-reports/TranslatorTest.txt
/old/WebCrawler-1.0.jar
/target/WebCrawler-1.0.jar
/target/surefire-reports/WebPageTest-MastaSurface.txt
/.idea/workspace-MastaSurface.xml
